<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaoyg.monkeyzicloud.provider.mapper.UcloudRoleUserMapper">
    <resultMap id="BaseResultMap" type="ucloudRoleUser">
        <id column="role_id" jdbcType="BIGINT" property="roleId"/>
        <id column="user_id" jdbcType="BIGINT" property="userId"/>
    </resultMap>
    <sql id="Base_Column_List">
        role_id, user_id
    </sql>
    <sql id="Base_Where_Condition">
    </sql>
    <sql id ="Base_Set_Condition">
    </sql>


    <select id="listByRoleId" resultMap="BaseResultMap">
        SELECT role_id, user_id from ucloud_role_user WHERE role_id = #{roleId}
    </select>

    <select id="listByUserId" resultMap="BaseResultMap">
        SELECT role_id, user_id from ucloud_role_user WHERE user_id = #{userId}
    </select>

    <delete id="deleteByRoleId">
        delete from ucloud_role_user
        where role_id=#{roleId}
    </delete>


    <select id="listByRoleIdList" resultType="ucloudRoleUser">
        SELECT
        <include refid="Base_Column_List"/>
        from ucloud_role_user
        where role_id in
        <foreach collection="roleIds" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <delete id="deleteByRoleIdList">
        delete from ucloud_role_user
        where role_id in
        <foreach collection="roleIdList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <select id="getByUserIdAndRoleId" resultMap="BaseResultMap">
        SELECT role_id, user_id from ucloud_role_user WHERE user_id = #{userId} and role_id = #{roleId}
    </select>
</mapper>